.newsletter input,
.newsletter button {
  font: inherit;
  padding: 0.25rem 0.75rem;
  border-radius: 0;
  color: #fff;
  border: none;
}

.newsletter input {
  background-color: var(--color-gray-800);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.newsletter button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--color-gray-500);
  cursor: pointer;
}

.newsletter button:hover {
  background-color: var(--color-primary-300);
  color: var(--color-gray-800);
}
